

/******3 consecutive images in section 2********/
img{
    width: 100%;
}
.img{
    position: relative;
}
#i1{
    z-index:3;
    margin-bottom: -51%;
}
#i2{
    z-index:2;
}
#i3{
    z-index:1;
    margin-top: -51%;
}
[data-aos=slide-down-1]{
    transform: translateY(-20%);
}
[data-aos=slide-down-2]{
    transform: translateY(-10%);
}
[data-aos=slide-down-3]{
    transform: translateY(5%);
}








[data-aos=slide-right] {
    transform: translateX(-100%);}

[data-aos=slide-left] {
    transform: translateX(100%);}

[data-aos=slide-left-top] {
    transform: translate3d(10%, 10%, 0);
}

[data-aos=slide-down]{
    transform: translateY(-10%);
}
