@import url('https://fonts.googleapis.com/css?family=Open+Sans: 300, 600');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card{
    background: #f6f7f8;
    text-decoration: none;
    color: #fcf;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
        
    position: relative;
    top: 0;
    transition: all .4s cubic-bezier(.8,.07,.56,.9);
}

.card:hover {
  top: -20px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);

}


/****typography****/
h1{
    font-weight: 600;
}



.card .thumb{
    padding-bottom: 80%;
    background-size: cover;
    background-position: center center;
}














@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
}
@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
