section{
    height: 300vh;
    display: flex;
    background-image: url(Screen%20Shot%202018-05-15%20at%203.41.13%20PM.png);
    background-size: cover;
    background-origin: content-box;
    background-attachment: fixed;
}
.one{
    margin-top: 50vh;

}




.chill{
    height: 30vw;
    width: 20vw;
    margin: auto;
    background-color: #ccc;  
}
.box{
    position: absolute;
    left: 30vw;
    height: 20vw;
    width: 40vw;
    margin: auto;
    border: 1px tomato solid;
    z-index: 3;
}